<style>
    .bring-down{
        margin-top:110px;
    }
    .make-bold{
      font-weight:bold;
  
    }
    .make-italic{
        font-weight:bold;
        font-size: 35px;

    }
  </style>

 



  
  <div id="about" class="mt-4 pb-5 container-fluid">
      <div class="post-heading text-center">
          <h3 class="display-4 font-weight-bold bring-down"> My Curriculum vitae</h3>
          <p class="bg-danger">Curriculum vitae</p>
          <hr class="w-50 mx-auto pb-5">
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
              <img src="assets/img/Ali.JPG" class="img-fluid mx-7 mx-7">
          </div>
  
          <div class="col-lg-6 col-md-6 col-12 mt-7">
              <hr>
              <p class="make-italic">My name is Ali Zayan ,  iam a 22 years old Computer science student , i love learning new stuff , i still don't have any work experience but i hope i make some soon.
              </p>
  
            
          </div>
      </div>
  </div>