<style>
    .card{
        margin-left:30px;
        margin-top:30px;
    }
    .card-text{
      font-weight:bold;

    }
</style>
<div class="row">
<div class="card" style="width:40rem;">
    <img src="assets/img/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">i love using my computer and learning new stuff through it , also playing games is one of my favorite things to do.</p>
    </div>
  </div>
  <div class="card" style="width: 30rem;">
    <img src="assets/img/img2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Artificial intelligence is so fun to learn , i have some basics of AI and i can work on it to improve it more and more .</p>
    </div>
  </div>
  <div class="card" style="width: 35rem;">
    <img src="assets/img/Web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Web security is the one i love the most because it helps in protecting a website by detecting cyber threats.</p>
    </div>
  