<style>
    .card{
        margin-left:30px;
        margin-top:30px;
    }
    .card-text{
      font-weight:bold;


    }

  
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }









</style>
<div class="container ">
  <div class="row">
   
    <div class ="col-6">
        <HR>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/img1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/img1.jpg" class="d-block w-100" alt="...">
                </div>
               
              </div>
            </div>
    </div>
    <div class=" col-6">
      <hr>
      <h2 >Computer gaming</h2>
        
      <p style="color: blue;">Showing results for Computer gaming description
        Search instead for Computer gaming descrbiton
        A computer game is a computer-controlled game where players interact with objects displayed on a screen for the sake of entertainment. A video game is essentially the same form of entertainment, but refers not only to games played on a personal computer, but also to games run by a console or arcade machine.  </div>
    </div>


</div>

    <div class="container ">
      <div class="row">
       
        <div class ="col-6">
            <HR>
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/img/Web.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/Web.jpg" class="d-block w-100" alt="...">
                    </div>
                   
                  </div>
                </div>
        </div>
        <div class=" col-6">
          <hr>
          <h2 >Web Secuirty</h2>
            
          <p style="color: blue;"> Websites and web applications are just as prone to security breaches as physical homes, stores, and government locations. Unfortunately, cybercrime happens every day, and great web security measures are needed to protect websites and web applications from becoming compromised.  </div>
        </div>
    
    
    </div>
        <div class="container ">
          <div class="row">
           
            <div class ="col-6">
                <HR>
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="assets/img/img2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="assets/img/img2.jpg" class="d-block w-100" alt="...">
                        </div>
                       
                      </div>
                    </div>
            </div>
            <video id="background-video" autoplay loop muted poster="">
              <source src="assets/img/Video.mp4" type="video/mp4">
            </video>

 <div class=" col-6">
    <hr>
    <h2 >Artificial intelligence</h2>
      
    <p style="color: blue;"> Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision.  </div>
  </div>


